footer {
    margin-top: 4rem;
    background-color: var(--color-white);
}

.footer-grid {
    margin: 0 auto;
    padding: 2rem 0;
    width: 75%;
    max-width: 90rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .footer-grid {
        width: 90%;
        grid-template-columns: 1fr;
    }
}

.footer-grid section {
    margin: 2rem 0 1rem 0;
}

.company-location {
    margin-bottom: 1rem;
}

.navbar-bottom ul {
    list-style: none;
}