@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "common.css";
@import "navbar.css";
@import "footer.css";

/* Main page styles */

main {
    position: relative;
}

.banner {
    position: absolute;
    height: 35rem;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: opacity(85%);
}

main section {
    margin: 0 auto 3rem auto;
    width: 75%;
    max-width: 90rem;
}

main section p {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    main section {
        width: 90%;
    }
}

#about {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

#about h1, #about h2, #about p {
    display: inline-block;
    padding: 0.5rem;
    background-color: rgba(64, 54, 43, 0.8);
    color: var(--color-white);
}

@media screen and (max-width: 768px) {
    #about {
        grid-template-columns: 1fr;
    }
}

#find-your-option {
    background-color: var(--color-green);
    padding: var(--section-padding);
}

.rent-options-list {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    list-style: none;
}

.rent-options-list input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 1rem;
}

.rent-options-list label {
    cursor: pointer;
}

.location-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--color-white);
}

.location-search input[type=search] {
    flex-grow: 1;
    max-width: 100%;
    padding: 0.5rem;
    border: none;
    font-size: 1.25rem;
}

.location-search input[type=search]:focus {
    outline: none;
}

#choose-your-country-list {
    background-color: var(--color-extra-light-orange);
    border: 1px solid var(--color-orange);

    padding: var(--section-padding);
}

.countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;

    list-style-type: none;
}

.countries-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.countries-list a:hover {
    background-color: var(--color-mid-orange);
    transition: 0.5s;

}

.countries-list svg {
    color: var(--color-orange);
}

.popular-cities {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;

    list-style: none;
}

.popular-cities a {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-green);
    box-shadow: 0 1px 2px 2px var(--color-dark);
}

.popular-cities a:hover {
    background-color: var(--color-light-green);
    transition: 0.5s;
}

.office-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

.office-card img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.office-info {
    padding: 1rem;

    background-color: var(--color-white);
    border: 1px solid var(--color-light-orange);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.office-title {
    margin: 1rem;
    font-size: 1.125rem;
}

.area {
    display: flex;
    justify-content: space-between;
}

#get-notifications {
    background-color: var(--color-light-green);
    padding: var(--section-padding);
}

.notification-controls {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    list-style: none;
}

.partners-list a {
    display: block;
    max-width: 10rem;
    height: 5.5rem;
    line-height: 5.5rem;
    padding: 0 0.5rem;
    text-align: center;
    background-color: var(--color-mid-blue);
    border: 1px solid var(--color-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.partners-list a:hover {
    background-color: var(--color-dark);
    color: var(--color-white);

    transition: 0.5s;
}


